
fn main() {

let mut x = 5;   // ! //
let y = -3;

let mut z = "Sense";   // ! //


println!("x = {} and y = {}", x, y);

println!("z is a {} string.", z);

x = 8;

println!("x = {} and y + 1 = {}", x, y + 1);


z = "Bongo";

println!("z is a {} string.", z);

}

// Note: we need to add 'mut' if we'e going to change the variables
